<div class="profile-info">
    <img src="assets/images/profile.svg" alt="User Profile" class="profile-picture" 
         appGlowEffect
         [glowColor]="'rgba(255, 78, 166, 1)'"
         [glowIntensity]="2">

    <div class="profile-text">
        <h2>Welcome back, Mouad!</h2>
        <p>Ready to continue your cybersecurity journey?</p>
    </div>
</div>

<div class="achievement-cards">
    <div class="stat-card">
        <div class="stat-left">
            <fa-icon [icon]="faMedal"></fa-icon>
            <span class="stat-label">Badges</span>
        </div>
        <div class="stat-right">
            <span class="stat-number">15</span>
        </div>
    </div>
    <div class="stat-card">
        <div class="stat-left">
            <fa-icon [icon]="faDoorOpen"></fa-icon>
            <span class="stat-label">Completed Rooms</span>
        </div>
        <div class="stat-right">
            <span class="stat-number">8</span>
        </div>
    </div>
    <div class="stat-card">
        <div class="stat-left">
            <fa-icon [icon]="faServer"></fa-icon>
            <span class="stat-label">Instance Time</span>
        </div>
        <div class="stat-right">
            <span class="stat-number">12h 45m</span>
        </div>
    </div>
    <div class="stat-card">
        <div class="stat-left">
            <fa-icon [icon]="faFire"></fa-icon>
            <span class="stat-label">Daily Streak</span>
        </div>
        <div class="stat-right">
            <span class="stat-number">7</span>
        </div>
    </div>
</div>