<div id="root">
    <div class="sign-in-form">
        <div class="logo">
            <img src="assets/images/profile.svg" alt="Logo">
            <span>Falcon</span>
        </div>
        
        <div class="input-group">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <input class="input" type="text" placeholder="Phone number / email address">
        </div>
        
        <div class="input-group">
            <fa-icon [icon]="faLock"></fa-icon>
            <input class="input" type="password" placeholder="Password">
            <button type="button" class="toggle-password">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
        </div>
        
        <div class="checkbox-wrapper">
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkbox">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </span>
                <span class="checkbox-label">I confirm that I have read, consent and agree to Falcon's <a href="#" class="link">Terms of Use</a> and <a href="#" class="link">Privacy Policy</a></span>
            </label>
        </div>
        
        <button class="button button--primary" (click)="onLogin()">Log in</button>
        
        <div class="form-footer">
            <a href="#" class="link">Forgot password?</a>
            <a href="#" class="link">Sign up</a>
        </div>
        
        <div class="divider">
            <div class="divider__line"></div>
            <div class="divider__text">OR</div>
            <div class="divider__line"></div>
        </div>
        
        <button class="button button--secondary">
            <fa-icon [icon]="faGoogle"></fa-icon>
            <span>Log in with Google</span>
        </button>
    </div>
</div>