<div class="room-content" (click)="navigateToRoomDetail()">
    <div class="header-content-wrapper">

        <div class="room-header">
            <h3 class="room-title">{{room.title}}</h3>
            <p class="room-description">
                <app-markdown-renderer [content]="room.description || ''"></app-markdown-renderer></p>
        </div>
                <div class="room-status-badges">
            <span class="stat-item joined" *ngIf="room.isJoined">
                <fa-icon [icon]="faCheck"></fa-icon>
                Joined
            </span>
            <span class="stat-item join" *ngIf="!room.isJoined">
                <fa-icon [icon]="faPlus"></fa-icon>
                Join
            </span>
            <span class="stat-item saved" *ngIf="room.isSaved">
                <fa-icon [icon]="faBookmark"></fa-icon>
                Saved
            </span>
            <span class="stat-item completed" *ngIf="room.percentageCompleted === 100">
                <fa-icon [icon]="faTrophy"></fa-icon>
                Completed
            </span>
        </div>
    </div>
    <div class="room-footer" >
        <span>
            <fa-icon [icon]="getComplexityIcon()"></fa-icon>
            {{ getComplexityText() }}
        </span>
        <span class="time-estimate">
            <fa-icon [icon]="faClock"></fa-icon>
            {{ room.estimatedTime }} hours
        </span>
        
        <div class="completion-indicator">
            <svg viewBox="0 0 50 50">
                <circle cx="25" cy="25" r="20"></circle>
                <circle cx="25" cy="25" r="20" [style.stroke-dashoffset]="calculateDashOffset(room.percentageCompleted)"></circle>
            </svg>
        </div>
    </div>
</div>
