


.room-card {
    width: 100%;
    min-width: 0;
    background: var(--my-space-card-background);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border: 1.4px solid rgba(255, 51, 153, 0.2);
    height: 160px;
    display: flex;
    position: relative;
}

.room-card:hover {
    // transform: translateY(-5px);
    border-color: var(--my-space-primary-color);
}

@media (max-width: 768px) {
    .room-card {
        height: auto;
        flex-direction: column;
    }
}