<!-- MySpace Component Container -->
<div class="my-space-container">
    <!-- Profile Banner Component -->
    <app-profile-banner class="profile-banner"></app-profile-banner>
    <app-profile-banner-sub-nav class="profile-banner-sub-nav"></app-profile-banner-sub-nav>
    <!-- My Rooms Component -->
    <div class="content-container">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <!-- <app-my-rooms class="my-rooms"></app-my-rooms> -->
        <app-right-quick-tips-sidebar class="right-quick-tips-sidebar"></app-right-quick-tips-sidebar>
    </div>
</div>