.rooms-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    gap: 2rem;
}

.toolbar-filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.toolbar-select {
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: var(--text-muted);
    padding: 0.2rem 0.3rem;
    font-size: 0.85rem;
    height: 2rem;
    width: 130px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toolbar-select:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.toolbar-select:focus {
    outline: none;
    border-color: var(--primary-color);
}

.toolbar-select option {
    background-color: white;
    color: black;
    padding: 0.4rem;
}

.toolbar-select option:first-child {
    background-color: white;
    color: black;
}

.search-bar {
    width: 25%;
    min-width: 200px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    height: 2.25rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

/* Search Bar Styles */
.search-bar:focus-within {
    border-color: var(--primary-color);
}

.search-bar input {
    background: none;
    border: none;
    color: var(--text-color);
    width: 100%;
    font-size: 0.85rem;
    padding-right: 0.5rem;
}

.search-bar input::placeholder {
    color: var(--text-muted);
}

.search-bar input:focus {
    outline: none;
}

.search-bar i {
    color: var(--text-muted);
    font-size: 0.85rem;
}

@media (max-width: 500px) {
    .rooms-toolbar {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .toolbar-filters {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .search-bar {
        width: 100%;
    }    
}
