<div id="root">
    <div class="sign-in-form">
        <div class="logo">
            <img src="assets/images/profile.svg" alt="Logo">
            <span>Falcon</span>
        </div>

        <div class="input-group">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <input class="input" type="text" placeholder="Email address">
        </div>

        <div class="input-group">
            <fa-icon [icon]="faLock"></fa-icon>
            <input class="input" type="password" placeholder="Password">
            <button type="button" class="toggle-password">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
        </div>

        <div class="input-group">
            <fa-icon [icon]="faLock"></fa-icon>
            <input class="input" type="password" placeholder="Confirm password">
            <button type="button" class="toggle-password">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
        </div>

        <div class="verification-code-field">
            <div class="input-group">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input class="input" type="text" placeholder="Code">
            </div>
            <button class="button button--secondary">
                Send Code
            </button>
        </div>

        <div class="checkbox-wrapper">
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkbox">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </span>
                <span class="checkbox-label">I confirm that I have read, consent and agree to Falcon's <a href="#"
                        class="link">Terms of Use</a> and <a href="#" class="link">Privacy Policy</a></span>
            </label>
        </div>

        <button class="button button--primary">Sign up</button>

        <div class="form-footer">
            <a class="link" routerLink="/auth/forgot-password">Forgot password?</a>
            <a class="link" routerLink="/auth/sign-in">Log in</a>
        </div>
    </div>
</div>