<div id="root">
    <form [formGroup]="this.signInForm" class="sign-in-form">
        <div class="logo">
            <img src="assets/images/profile.svg" alt="Logo">
            <span>Falcon</span>
        </div>
        <div class="input-container">
            <div class="input-group">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input class="input" type="text" placeholder="Username"
                    formControlName="username">
            </div>
            <div class="error" *ngIf="this.usernameCtrl.errors && (this.usernameCtrl.touched || this.usernameCtrl.dirty)">
                {{this.getErrorMessage(this.usernameCtrl)}}
            </div>
        </div>
        <div class="input-container">
            <div class="input-group">
                <fa-icon [icon]="faLock"></fa-icon>
                <input class="input" 
                       [type]="showPassword ? 'text' : 'password'" 
                       placeholder="Password"
                       formControlName="password">
                <button type="button" 
                        class="toggle-password" 
                        (click)="togglePasswordVisibility()">
                    <fa-icon [icon]="faEye"></fa-icon>
                </button>
            </div>
            <div class="error" *ngIf="this.passwordCtrl.errors && (this.passwordCtrl.touched || this.passwordCtrl.dirty)">
                {{this.getErrorMessage(this.passwordCtrl)}}
            </div>
        </div>

        <div class="checkbox-wrapper">
            <label class="checkbox-container">
                <input type="checkbox" formControlName="termsAccepted">
                <span class="checkbox">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </span>
                <span class="checkbox-label">I confirm that I have read, consent
                    and agree to Falcon's <a href="#" class="link">Terms of
                        Use</a> and <a href="#" class="link">Privacy
                        Policy</a></span>
            </label>
        </div>
        <ng-container *ngIf="SignInButtonState$ | async as state">
        <button class="button button--primary" 
                (click)="onLogin()"
                [disabled]="signInForm.invalid">
                {{ state.buttonText }}
        </button>
        </ng-container>
        <div class="form-footer">
            <a class="link" routerLink="/auth/forgot-password">Forgot
                password?</a>
            <a class="link" routerLink="/auth/sign-up">Sign up</a>
        </div>

        <div class="divider">
            <div class="divider__line"></div>
            <div class="divider__text">OR</div>
            <div class="divider__line"></div>
        </div>

        <button class="button button--secondary">
            <fa-icon [icon]="faGoogle"></fa-icon>
            <span>Log in with Google</span>
        </button>
    </form>
</div>