<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <img src="assets/images/profile.svg" alt="Logo" class="logo-img">
            <span>CyberSpace</span>
        </div>
        <div class="nav-links">
            <button class="nav-item">
                <i class="fas fa-cube" style="padding-top: 2px !important;"></i>
                <span>My Space</span>
            </button>
            <button class="nav-item active">
                <i class="fas fa-door-open"></i>
                <span>Rooms</span>
            </button>
        </div>
        <button class="profile-button">
            <div class="profile-pic-placeholder">
                <i class="fas fa-user"></i>
            </div>
            <span class="profile-name">Hello Mouad !</span>
            <i class="fas fa-chevron-down"></i>
        </button>
    </div>
</nav>
