
<div class="nav-container">
    <div class="logo">
        <img src="assets/images/profile.svg" alt="Falcon" class="logo-img">
        <span>Falcon</span>
    </div>
    <div class="nav-links">
        <button class="nav-item" routerLink="/my-space"
            routerLinkActive="active">
            <fa-icon [icon]="faCube"></fa-icon>
            <span>My Space</span>
        </button>
        <button class="nav-item" routerLink="/rooms" routerLinkActive="active">
            <fa-icon [icon]="faDoorOpen"></fa-icon>
            <span>Rooms</span>
        </button>
    </div>
    <div class="profile-container">
        <button class="profile-button" [class.active]="showProfileMenu" (click)="toggleProfileMenu()">
            <div class="profile-pic-placeholder">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <span class="profile-name">{{ username }}</span>
            <fa-icon [icon]="faChevronDown" [class.rotate-chevron]="showProfileMenu"></fa-icon>
        </button>
        
        <div class="profile-dropdown" *ngIf="showProfileMenu">
            <button class="dropdown-item logout-button" (click)="onLogout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                <span>Logout</span>
            </button>
        </div>
    </div>
</div>
